.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-weight: 500;
}

.label-btn.loader {
  padding: 8px 30px;
  pointer-events: none;
}

.button>svg,
.label-icon>svg,
.icon>svg,
.icon-circle>svg {
  width: 20px;
  height: 20px;
}

.label-icon>svg {
  margin-right: 7px;
}

.loader>svg {
  margin-right: 0;
  width: 20px;
  height: 20px;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon,
.icon-circle {
  padding: 8px;
}

.icon {
  border-radius: 8px;
}

.icon-circle {
  border-radius: 100px;
}

.label-icon {
  padding: 8px 18px;
}

.label-btn {
  padding: 10px 20px;
}

.primary {
  background-color: var(--brand-600, #7F56D9);
  border: 1px solid var(--brand-600, #7F56D9);
  color: #FFFFFF;
}

.primary:hover {
  background-color: var(--brand-700, #6941C6);
  border: 1px solid var(--brand-700, #6941C6);
}

.primary:focus {
  border: 1px solid var(--brand-600, #7F56D9);
  box-shadow: 0px 0px 0px 4px #F4EBFF, 0px 1px 2px 0px rgba(16, 24, 40, 0.05)
}

.primary:disabled {
  background-color: var(--brand-200, #E9D7FE);
  border: 2px solid var(--brand-200, #E9D7FE);
  pointer-events: none;
}

.secondary {
  background: var(--brand-50, #F9F5FF);
  border: 1px solid var(--brand-50, #F9F5FF);
  color: var(--brand-700, #6941C6);
}

.secondary:hover {
  border: 1px solid var(--brand-100, #F4EBFF);
  background: var(--brand-100, #F4EBFF);
}

.secondary:focus {
  border: 1px solid var(--brand-50, #F9F5FF);
  background: var(--brand-50, #F9F5FF);
  box-shadow: 0px 0px 0px 4px #F4EBFF, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.secondary:disabled {
  color: var(--brand-300, #D6BBFB);
  border: 1px solid var(--brand-25, #FCFAFF);
  background: var(--brand-25, #FCFAFF);
}

.secondary-gray {
  color: var(--gray-700, #344054);
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
}

.secondary-gray:hover {
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--gray-50, #F9FAFB);
}

.secondary-gray:focus {
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  box-shadow: 0px 0px 0px 4px #F2F4F7, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.secondary-gray:disabled {
  opacity: 0.56;
  pointer-events: none;
}

.tertiary {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: var(--brand-700, #6941C6);
}

.tertiary:hover {
  background: var(--brand-50, #F9F5FF);
  border: 1px solid rgba(255, 255, 255, 0.88);
}

.tertiary:disabled {
  color: var(--gray-300, #D0D5DD);
  pointer-events: none;
}