:root {
  --colors-primary: #6E41E2;
  --colors-primary-disabled: #E3DAF9;
  --colors-primary-hover: #5835B0;
  --colors-primary-active: #472C8A;
  --colors-white: #FFF;
  --colors-white-s: rgba(255, 255, 255, 0.88);
  --colors-gray-m: #FAFAFA;
  --colors-gray-l: #F1F1F1;
  --colors-gray-s: #D4D4D4;
  --colors-gray: rgba(17, 17, 17, 0.48);
  --colors-gray-k: #6B6B6B;
  --colors-black: #111;
  --colors-red-girl: #F9E3E3;
  --colors-red-boy: #F2CACA;
  --colors-red: #DB524E;
  --colors-super-red: #C7302B;
  --colors-green: #27AE60;
  --colors-blue: #428BF9;
}

body {
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  font-family: Montserrat;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}

h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

h3 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

h4 {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

h5 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

h6 {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0.5rem;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.section-purple {
  background-color: var(--colors-primary);
  padding: 1.5em 0;
}

.section-2 {
  padding: 2rem 15em;
}

p.btn-label {
  font-size: 13px;
  margin-bottom: 0.25em;
}

.white {
  color: white;
}