:root {
  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1D2939;
  --gray-900: #101828;
  --brand-25: #FCFCFD;
  --brand-50: #F9F5FF;
  --brand-100: #F4EBFF;
  --brand-200: #E9D7FE;
  --brand-300: #D6BBFB;
  --brand-400: #B692F6;
  --brand-500: #9E77ED;
  --brand-600: #7F56D9;
  --brand-700: #6941C6;
  --brand-800: #53389E;
  --brand-900: #42307D;
  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #D1FADF;
  --success-200: #A6F4C5;
  --success-300: #6CE9A6;
  --success-400: #32D583;
  --success-500: #12B76A;
  --success-600: #039855;
  --success-700: #027A48;
  --success-800: #05603A;
  --success-900: #054F31;
  /* --colors-primary: #6E41E2;
  --colors-primary-disabled: #E3DAF9;
  --colors-primary-hover: #5835B0;
  --colors-primary-active: #472C8A;
  --colors-white: #FFF;
  --colors-white-s: rgba(255, 255, 255, 0.88);
  --colors-gray-m: #FAFAFA;
  --colors-gray-l: #F1F1F1;
  --colors-gray-s: #D4D4D4;
  --colors-gray: rgba(17, 17, 17, 0.48);
  --colors-gray-k: #6B6B6B;
  --colors-black: #111;
  --colors-red-girl: #F9E3E3;
  --colors-red-boy: #F2CACA;
  --colors-red: #DB524E;
  --colors-super-red: #C7302B;
  --colors-green: #27AE60;
  --colors-blue: #428BF9; */
}

body {
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0.5rem;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.section-purple {
  background-color: var(--brand-700, #6941C6);
  padding: 1.5em 0;
}

.section-2 {
  padding: 2rem 15em;
}

p.btn-label {
  font-size: 13px;
  margin-bottom: 0.25em;
}

.white {
  color: white;
}